* {
    cursor: inherit;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-size: calc(1vw + 1rem);
}

h2 {
    margin: 0;
}

hr {
    margin: 0;
}

/*ACCORDION*/
.accordion {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

/*MEME*/
.meme {
    display: block;     
}

/*MEME HEAD*/
.meme__head {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/*MEME TITLE*/
.meme__title {    
    padding: 0.8rem;
    font-size: calc(0.7vw + 0.7rem);
}

/*MEME ICON*/
.meme__icon {
    height: calc(1vw + 1rem);
    padding-right: 1rem;
    transition: 0.5s ease;
}

/*MEME CONTENT*/
.meme__content {
    height: calc(8vw + 9rem);
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    

    transition: 0.5s;
}

/*IMAGES*/
.bg_1 {
    background-image: url(./img/code.png);
}

.bg_2 {
    background-image: url(./img/debug.gif);
}

.bg_3 {
    background-image: url(./img/json_for_dev.png);
}

.bg_4 {
    background-image: url(./img/popular_language.png);
}

.bg_5 {
    background-image: url(./img/front_vs_back.png);
}